body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.nav-container {
    width: 100;
    border-bottom: 1px solid red;
    box-shadow: 0 2px 10px red;
}

.nav-list {
    max-width: 1000px;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-list a {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}

.nav-list a:hover, .nav-list a:focus, .nav-list a:active {
    color: rgb(153, 14, 14);
}

.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px red;
}

button {
    padding: 10px 20px;
    background-color: brown;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

button:hover {
    color: white;
    background-color: rgb(122, 30, 30);
}

input {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

ul{
    list-style-type: none;
    padding: 0;
}